@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

:root   {
    --primary-color: #f60f20;
    --background-color: rgba(0, 0, 0, 0.1);
}

/*Base Styles*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Poppins', sans-serif;
    color: #111;
}

h1 {
    font-size: 30px;
    font-weight: 500;
}

p {
    margin: 20px 0 10px;
    font-size: 1.1rem;
}

section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    padding: 100px;
    margin-top: 60px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--background-color);
}

header {
    backdrop-filter: blur(10px); /* Apply a 10px blur to elements behind the header */
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 2px 5px --background-color;
}

footer {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    font-size: .875rem;
    line-height: 1.25rem
}

.home {
    height: 100vh;
    padding: 100px;
    margin-top: 60px;
    flex-direction: row;
    margin-top: 0;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.max-w-screen-sm {
    max-width: 640px;
}

.border {
    border-width: 1px;
    border-style: solid;
}

.border-black\/15 {
    border-color: #00000026;
}

.rounded-lg {
    border-radius: .5rem
}

.flex-1 {
    flex: 1 1 0%
}

.pr-10 {
    padding-right: 2.5rem
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}

.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem
}

.py-3 {
    padding-top: .75rem;
    padding-bottom: .75rem;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.relative {
    position: relative
}

.list-style-none {
    list-style-type: none;
}

.gap-y-2 {
    row-gap: .5rem;
}

.justify-between {
    justify-content: space-between;
}

.inline-block {
    display: inline-block;
}

.no-decoration {
    text-decoration: none;
}

.padding-5 {
    padding: 0 5px;
}

.gap-1 {
    gap: .25rem
}

.gap-4 {
    gap: 1rem
}

.duration-300 {
    transition-duration: .3s;
}

.ease-in-out {
    transition-timing-function: cubic-bezier(.4,0,.2,1)
}

.text-color-grey {
    color: #484646;
}

.hover\:text-color-grey:hover {
    color: #9b9797;
}

.max-height-550 {
    max-height: 550px;
}

.top-0 {
    top: 0;
}

.padding-top-0 {
    padding-top: 0;
}

.home-content {
    position: relative;
    z-index: 10;
    max-width: 400px;
}

.items-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.font-size-15 {
    font-size: 15px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}









@media(max-width: 1068px) {
    

    section {
        padding: 100px 40px;
    }

    .navigation ul li a {
        font-size: 2rem;
    }

  

    

}

@media(max-width: 768px) {
    .services {
        grid-template-columns: 1fr; /*display width for each service in each column*/
        
    }

    .services .service {
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    }

}

